{% extends 'base.html' %}
{% block content %}
{% if not loggedIn %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Student Voting System</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Sign up as a student and vote for Student Council President or sign up as a Council member and
      run for President!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/signup"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign up</button></a>
      <a href="/login"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Log in</button></a>
    </div>
  </div>
</div>
{% else %}
<div class="px-4 py-5 my-5 text-center">
  <!-- <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
  <h1 class="display-5 fw-bold">Welcome {{data.name}}</h1>
  <div class="col-lg-6 mx-auto">
    {% if council and not admin %}
    <p class="lead mb-4">Vote for the new President, view statistics of the current election, or run for President!</p>
    {% elif not council and not admin %}
    <p class="lead mb-4">Vote for the new President or view statistics of the current election!</p>
    {% else %}
    <p class="lead mb-4">Manage current election or start a new one!</p>
    {% endif %}
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      {% if not admin %}
      <a href="/voting"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Vote</button></a>
      <a href="/statistics"><button type="button" class="btn btn-outline-secondary btn-lg px-4">View
          Statistics</button></a>
      {% elif council and not admin %}
      <a href="/election"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Run for
          President</button></a>
      {% else %}
      <button type="button" class="btn btn-primary btn-lg px-4">End current election</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" data-bs-toggle="modal" data-bs-target="#electionModal">Start new election</button>
      <div class="modal fade" id="electionModal" tabindex="-1" aria-labelledby="electionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="electionModalLabel">Create new election</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{{ url_for('index') }}" method="post">
                <div class="form-group">
                  <label for="inputDate">Enter year of election</label>
                  <input type="number" min="1900" max="2099" step="1" value="{{ year }}" class="form-control" id="inputDate" aria-describedby="year" placeholder="Enter a year">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create new election</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <a href="/results"><button type="button" class="btn btn-outline-secondary btn-lg px-4">View past results</button></a>
    </div>
  </div>
</div>
{% endif %}
{% if admin %}
<script>
  const modal = document.getElementById('electionModal')
  const input = document.getElementById('myInput')

  modal.addEventListener('shown.bs.modal', () => {
    myInput.focus()
  })
</script>
{% endif %}
{% endblock content %}