{% extends 'base.html' %}
{% block content %}
<div class="chart-container" style="position: relative; height:90vh;">
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');
  var data = "{{ votes }}";
  data = JSON.parse(data.replace(/'/g, '"'));
  var candidates = "{{ names|safe }}";
  candidates = JSON.parse(candidates.replace(/'/g, '"'));
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: candidates,
      datasets: [{
        label: '# of Votes',
        data: data,
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      resizeDelay:0.5,
      indexAxis: 'y',
      plugins: {
        legend: {
          position: 'right',
        },
        scales: {
          y: {
            beginAtZero: true
          }
        },
        title: {
          display: true,
          text: 'Votes per Candidate'
        }
      }
    }
  });
</script>
{% endblock content %}