{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
  <div class="card col-md-4 col-sm-6 col-xs-6 w-75 h-75">
    <div class="chart-container" style="position: relative;">
      <div class="card-body">
        <div class="chart-container" style="position: relative;">
          <h5 class="card-title">Votes per candidate</h5>
          <canvas class="card-text" id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');
  var data = "{{ votes }}";
  data = JSON.parse(data.replace(/'/g, '"'));
  var candidates = "{{ names|safe }}";
  candidates = JSON.parse(candidates.replace(/'/g, '"'));
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: candidates,
      datasets: [{
        label: '# of Votes',
        data: data,
        borderWidth: 2
      }]
    },
    options: {
      responsive: true,
      resizeDelay:0.5,
      indexAxis: 'y',
      plugins: {
        legend: {
          position: 'bottom',
        },
        scales: {
          y: {
            beginAtZero: true
          }
        },
        title: {
          display: true,
          text: 'Votes per Candidate'
        }
      }
    }
  });
</script>
{% endblock content %}